<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

	<!-- MISSION ACTION SECTION -->		
	<div class="initiativesTab"></div>      	
	<div class="row initiativesSection">
		<div class="col-md-12">
			<h2>Initiatives</h2>
			<p>The mission of Jay's Foundation is to provide assistance to families who must travel long distances for treatment of childhood cancer by working to continuously attract new public support. </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>

</div> 
<!-- /BODY container -->

