<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

	<!-- OUR IMPACT SECTION  -->
	<div class="">		     
	<div class="row ourImpactSection">
		<div class="ourImpactTab"></div>  
		<div class="col-md-12">
			<h2>OUR IMPACT</h2>
			<p>A few ways you can take action to move our cause forward! </p>
			<p><a class="btn btn-default" href="#" role="button">View details </a></p>
		</div>
	</div>


</div> 
<!-- /BODY container -->