
<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

	<!-- TAKE ACTION SECTION  -->
	<div class="">		     
	<div class="row takeActionSection">
		<div class="takeactiontab"></div>  
		<div class="col-md-12">
			<h2>WAYS YOU</h2>
			<h2>CAN TAKE ACTION</h2>
			<p>A few ways you can take action to move our cause forward! </p>
			<p><a class="btn btn-default" href="#" role="button">View details </a></p>
		</div>
	</div>


</div> 
<!-- /BODY container -->

