
<!-- NAVIGATION SECTION -->
<nav class="navbar navbar-default navbar-fixed-top subNav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- sub navigation panel -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav subNavLink">
                <li <% if params[:action] == 'aboutus' %>   class="active" <% end %> ><%= link_to 'ABOUT US',  aboutus_path %></li>
                <li <% if params[:action] == 'team' %>      class="active" <% end %> ><%= link_to 'TEAM',      team_path %></li>
                <li <% if params[:action] == 'aboutjay' %>  class="active" <% end %> ><%= link_to 'ABOUT JAY', aboutjay_path %></li>                   
            </ul>
        </div><!-- /.navbar-collapse -->

        <div class="<%= params[:action] %>Tab"></div> 
    </div><!-- /.container-fluid -->
</nav>  
<!-- END NAV SECTION -->

