<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

  <!-- LOG IN SECTION  -->
  <div class="">         
  <div class="row deviseSection">
    
    <div class="col-md-12">
      
    </div>
  </div>


</div> 
<!-- /BODY container -->
