<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

  <!-- LOG IN SECTION  -->
  <div class="">         
  <div class="row loginSection">
    <div class="col-md-12">
      <h2>Please Log In, or Sign Up</h2>

      <div class="notificationBox">
        <div class="row">
          <%= debug(@user2.empty?) %>
        </div>
      </div>

    </div>
  </div>


</div> 
<!-- /BODY container -->
