<!-- display sub-navigation partial -->
<%= render 'admin/includes/subnavigation' %>

<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

	<!-- MISSION ACTION SECTION -->		
     	
	<div class="row dashboardSection">
		<div class="col-md-12">
			<h2>ADMINISTRATOR DASHBOARD</h2>
			<p>Welcome to the administrative dashboard Authenticated user! </p>
		</div>
	</div>

</div> 
<!-- /BODY container -->

