<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

  <!-- SIGN UP SECTION  -->
  <div class="">         
  <div class="row signUpSection"> 
    <div class="col-md-12">
      <h2>Please Sign Up</h2>

      <div class="notificationBox">
        <div class="row">
          <%= debug(@user.save!) %>
        </div>
      </div>


    </div>
  </div>


</div> 
<!-- /BODY container -->
