<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

  <!-- OUR IMPACT SECTION  -->
  <div class="">         
  <div class="row deviseSection">
    <div class="ourImpactTab"></div>  
    <div class="col-md-12">
      <%= debug(params) %>
    </div>
  </div>


</div> 
<!-- /BODY container -->
